.teams-vbox {
    -fx-background-color: salmon;
    -fx-padding: 4 2 4 2;
    -fx-spacing: 4;
}

.add-team-button {
    -fx-background-color: orange;
    -fx-background-radius: 8;
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-font-weight: 900;
}

.team-box {
    -fx-background-radius: 4;
    -fx-padding: 2 0 0 0;
}

.name-label {
    -fx-font-size: 16;
    -fx-font-weight: 900;
    -fx-text-fill: white;
    -fx-padding: 2 0 2 8;
}

.score-label {
    -fx-font-size: 16;
    -fx-font-weight: 900;
    -fx-text-fill: white;
    -fx-padding: 2 2 2 0;
}

.modified-split-pane > .split-pane-divider {
    -fx-padding: 1 1 1 1;
    -fx-background-color: red;
}